/** {*/
/*    border: 1px solid red;*/
/*}*/

body {
    background-color: #F1FFE7;
    color: #5B5B5B;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    font-size: 20px;
    line-height: 1.5;
}

.top-bar {
    color: #D8FCD9;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
    
}

.top-bar .button {
    color: #F1FFE7;
    font-weight: 800;
    font-size: 20px;
    background-color: #5B5B5B;
    border-radius: 8px;
    padding: 12px 24px;
}

.title {
    color: #5B5B5B;
    font-size: 44px;
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CLOCK DESIGN*/
.clock {
    width: min(72%, 72vh);
    aspect-ratio: 1 / 1;
    position: relative;
    /*overflow: hidden;*/
    background-color: #1c1b1b;
    border-radius: 50%;
    z-index: 1;
    /*border: 2.2vh solid #F1FFE7;*/
    /*border: 2.2vh solid #5B5B5B;*/
    /*box-shadow: 0 0 5vh 5vh rgb(74 103 76 / 0.11);*/
}

/*.clock::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    inset: 0;*/
/*    border-radius: 50%;*/
/*    box-shadow: inset 0 0 0 1px #F1FFE7;*/
/*    z-index: 3;*/
/*}*/

/* Center Pin (whatever that does) */
.center-circle {
    content: '';
    width: 8.0%;
    aspect-ratio: 1 / 1;
    background-color: #F1FFE7;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.clock::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    box-shadow: inset 0 0 0 5px #F1FFE7;
    /**!, 0 0 0 10px #F1FFE7;!**/
    pointer-events: none; 
    z-index: 2;
}

.tick-mark {
    position: absolute;
    width: 2%;
    height: 8%;
    /*background-color: #5B5B5B;*/
    background-color: #F1FFE7;
    left: calc(50% - 1%);
    top: 0%;
    transform-origin: 50% 625%;
    transform: rotate(calc(var(--i) * 90deg));
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom center;
    transform: translate(-50%) rotate(0deg);
    border-radius: 5px;
}
/* NOTE: 38% makes hand reach outer edge */

/* Hour Hand */
.hour-hand {
    width: 6.4%;
    height: 28%;
    background-color: #F1FFE7;
    /*transform: translate(-50%) rotate(40deg);*/
}

/* Minute Hand */
.minute-hand {
    width: 3.2%;
    height: 42%;
    background-color: #F1FFE7;
    /*transform: translate(-50%) rotate(150deg);*/
}

/* Second Hand */
.second-hand {
    width: 1.0%;
    height: 48.0%;
    background-color: #F1FFE7;
    /*transform: translate(-50%) rotate(290deg);*/
}