/** {*/
/*    border: 1px solid red;*/
/*}*/

body {
    background-color: #F1FFE7;
    color: #5B5B5B;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    font-size: 20px;
    line-height: 1.5;
}

.top-bar {
    color: #D8FCD9;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 3vh;
}

.top-bar .button {
    color: #F1FFE7;
    height: 2.2vh;
    line-height: 2.2vh;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    background-color: #5B5B5B;
    border-radius: 8px;
    margin-top: 2.2vh;
    padding: 1.1vh 2.8vw;
}

.top-bar .title {
    color: #5B5B5B;
    font-size: 36px;
    margin-top: 2.4vh;
    text-align: center;
}

.main-container {
    display: grid;
    place-items: center;
    width: 100vw;
    /*height: 100vh;*/
    margin: 0;
}

.main-container p {
    margin: 40px 60px 20px 60px;
    color: #5B5B5B;
    font-size: 26px;
    text-align: center;
}

/* CLOCK DESIGN*/
.clock {
    width: 72vmin;
    height: 72vmin;
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: hidden;
    background-color: #1c1b1b;
    border-radius: 50%;
    /*border: 20px solid #1c1b1b;*/     
    outline: 1vh solid #F1FFE7;
    outline-offset: -1px;
}

.center-circle {
    content: '';
    width: 8.0%;
    aspect-ratio: 1 / 1;
    background-color: #F1FFE7;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.tick-mark {
    position: absolute;
    width: 1.5%;
    height: 6.25%;
    background-color: #F1FFE7;
    left: calc(50% - 0.75%);
    top: 0;
    transform-origin: 50% 800%;
    transform: rotate(calc(var(--i) * 30deg));
}

.large {
    width: 2.0%;
    height: 6.25%;
    left: calc(50% - 1.0%);
    transform-origin: 50% 800%;
}

.medium {
    width: 1.0%;
    height: 4%;
    left: calc(50% - 0.5%);
    transform-origin: 50% 1250%;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom center;
    transform: translate(-50%) rotate(0deg);
    border-radius: 5px;
}
/* NOTE: 38% makes hand reach outer edge */

/* Hour Hand */
.hour-hand {
    width: 6.4%;
    height: 28%;
    background-color: #F1FFE7;
    /*transform: translate(-50%) rotate(40deg);*/
}

/* Minute Hand */
.minute-hand {
    width: 3.2%;
    height: 42%;
    background-color: #F1FFE7;
    /*transform: translate(-50%) rotate(150deg);*/
}

/* Second Hand */
.second-hand {
    width: 1.0%;
    height: 48.0%;
    background-color: #F1FFE7;
    /*transform: translate(-50%) rotate(290deg);*/
}