/** {*/
/*    border: 1px solid red;*/
/*}*/

body {
    background-color: #F1FFE7;
    color: #5B5B5B;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    font-size: 20px;
    line-height: 1.5;
}



.top-bar {
    background-color: #32A287;
    color: #D8FCD9;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.top-bar h1 {
    font-size: 66px;
    align-self: center;
}

.link-buttons {
    display: flex;
    justify-content: left;
    gap: 40px;
    align-items: center;
}

.link-buttons .button {
    color: #D8FCD9;
    font-weight: 800;
    font-size: 20px;
    background-color: #32A287;
    border-radius: 8px;
    padding: 16px 28px;
}



.tools-container {
    padding: 40px;
}

.tool-item {
    /* When adding multiple, can use
    a CSS grid to auto scale width 
    in a reasonable range (like 240
    to 360px) and the SVG should
    stay a reasonable size in
    proportion to the container. */
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 100px 30px 50px 30px;
    border-radius: 40px;
    background-color: #F1FFE7;
    /*background-image: radial-gradient(circle, #F1FFE7, #D8FCD9);*/
    box-shadow: 0 0 10px 10px rgb(74 103 76 / 0.11);
}

.tool-item svg:hover {
    /*background-color: #d2dbcc;*/
    transform: scale(1.15)
}

.tool-item svg {
    display: flex;
    margin: 0;
    height: auto; /* Adjust the value as needed */
    width: 100%;
}

.tool-item svg .icon-background{
    fill: #5B5B5B;
    filter: drop-shadow(0px 3px 1px rgb(0 0 0 / 0.3));
}

.tool-item svg .icon-details{
    fill: #F1FFE7;
}

.tool-item h1, p {
    margin: 0;
    text-align: center;
    color: #5B5B5B;
}

.tool-item h1 {
    font-size: 36px;
    margin: 30px 0 20px 0;
}

.tool-item p {
    font-size: 22px;
    width: 75%;
    font-style: italic;
}